{% extends "base.html" %}

{% block content %}
<h1>Инструкция при работе с сайтом:</h1>
<ol>
    <li>Зарегестрируйтесь</li>
    <li>Залогинтесь</li>
    <li>Загрузите автар пользователя</li>
    <li>Добавте пару товаров на своей странице</li>
    <li>Пополните свой счёт. !!!ВНИМАНИЕ!!! Сумма на счёте не может превышать 1 миллион дьенек!</li>
    <li>Купите или возмите в кредит чей-нибудь товар !!!ВНИМАНИЕ!!! Кредит не может превышать 1 миллион дьенек!</li>
    <li>Оставте комментарий на чей-либо странице</li>
</ol>
{% endblock %}