{% extends "base.html" %}

{% block content %}
<h1>Часто возникаемые вопросы:</h1>
<ul>
    <h2>Чем зарегистрированного пользователь отличается от незарегистрированного?</h2>
    <li>Зарегестрированные пользователи могут: покупать товары, создавать товары, комментировать других пользователей</li>
    <h2>Как зарегистрироваться?</h2>
    <li>Нажмите кнопку 'Зарегистрироваться' и укажите необходимую информацию</li>
    <h2>Как войти в свой профиль?</h2>
    <li>Нажмите кнопку 'Войти', пароль и почту, указаную вами при регистрации, затем нажмите 'Мой профиль'</li>
    <h2>Как изменить аватар своего профиля?</h2>
    <li>Зайдите на свой профиль, нажмите кнопку 'Выберите файл', выберите файл формата png, не защищённый авторским правом,
         нажите кнопку 'Загрузить аватар'</li>
    <h2>Как пополнить капитал?</h2>
    <li>Нажмите кнопку 'пополнить капитал', затем нажимайте кнопку 'Заработать деньги', до тех пор пока не заработаете
         достаточное количество денег</li>
    <h2>Как взять товар в кредит?</h2>
    <li>Добавте товары в корзину и нажмите кнопку взять в кредит (Эта возможность доступна только если не хватает
         денег для оплаты товара)</li>
</ul>
{% endblock %}