{% extends "base.html" %}

{% block content %}
<div>
    <h2>Имеющиеся товары:</h2>
    {% for item in products %}
    <div class="col-md6 border rounded">
        <h3>{{item.title}}</h3>
        <div>
            {{item.description}}
        </div>
        <div>
            Цена - {{item.price}} денег, <a href="/user/{{item.user_id}}">Прадовец - {{item.user.name}}
            <img src="/userava/{{item.user_id}}" height="50">
        </a>
        </div>
        {% if current_user.is_authenticated and current_user.id != item.user_id%}
            <p>
                {% if current_user.money >= item.price %}
                    <a class="btn btn-primary" href="/buy/{{item.id}}">Купить</a>
                {% else %}
                    <a class="btn btn-danger" href="/"> Недостаточно денег</a>
                {% endif %}
                {% if not (item.id, current_user.id) in cart %}
                <a class="btn btn-primary" href="/add_to_cart/{{item.id}}">В корзину</a>
                {% endif %}
            </p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div>
    <h2>Список пользователей:</h2>
    {% for user in users %}
        <p><a href="/user/{{user.id}}">{{user.name}}</a></p>
    {% endfor %}
</div>
{% endblock %}